body  {
	background-color:white;
}

h1  {
	color:black;
	text-align: center;
	font-size: 60px;
}

h3  {
	color: black
	text-align: left;
	text-indent: 10px;
	font-size: 30px;
	letter-spacing: 3px;
}

p  {
	color:black;
	font-family:verdana;
	margin-left: 10px;
		
}

a:link {
	color: white;
	background-color: none;
	font-size: 22px;
	letter-spacing: 3px;
	margin-left: 10px;
	font-family: verdana; 
	
}

a:visited  {
	color: white;
	
}

a  {
	
	font-family: verdana;
	text-decoration: none;
	}

ul  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li  {
	float:left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover  {
	background-color: #111;
}

 .active {
 	background-color: forestgreen;
 }
